*pyc
docs/build
docs/source/_static
test_project/htmlcov/
test_project/.coverage
build
dist
django_autocomplete_light.egg-info/
*swp
docs/docs
__pycache__
test_env/
.coverage
.tox
node_modules

.cache/

# Pycharm
.idea/
