sudo: false
dist: xenial
language: python
env:
  global:
  - PIP_RETRIES=10
  - PIP_TIMEOUT=30
  - BROWSER=firefox
  - GECKODRIVER=0.24.0
  - MOZ_HEADLESS=1
matrix:
  include:
  - python: 3.7
    env: TOXENV=checkqa
  - python: 3.7
    env: TOXENV=docs
  - python: 3.7
    env: TOXENV=py37-dj30
  allow_failures:
  - env: TOXENV=py37-dj30
install:
- travis_retry pip install -U pip
- travis_retry pip install tox
- travis_retry pip freeze
services:
  - firefox: latest
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v$GECKODRIVER/geckodriver-v$GECKODRIVER-linux64.tar.gz
  - mkdir -p geckodriver && tar -xzf geckodriver-v$GECKODRIVER-linux64.tar.gz -C geckodriver
  - export PATH=$(pwd)/geckodriver:$PATH
before_script:
- if echo "$TOXENV" | grep mysql; then mysql -e 'create database autocomplete_light_test;';
  fi
- if echo "$TOXENV" | grep postgresql; then psql -c 'create database autocomplete_light_test;'
  -U postgres; fi
script:
- tox -r
- test -d .tox/$TOXENV/log && cat .tox/$TOXENV/log/*.log || true
after_success:
- travis_retry pip install codecov
- cd test_project && codecov
notifications:
  irc:
    channels:
    - irc.freenode.org#yourlabs
    template:
    - "%{repository} (%{commit} %{author}) : %{message} %{build_url} %{compare_url}"
cache:
  directories:
  - .tox/$TOXENV
  - $HOME/.cache/pip
