sudo: false
language: python
python:
- '3.4'
matrix:
  allow_failures:
  - env: TOXENV=base-py27-django110-sqlite
  - env: TOXENV=base-pypy-django110-sqlite
  - env: TOXENV=base-py34-django110-sqlite
env:
  global:
  - PIP_RETRIES=10
  - PIP_TIMEOUT=30
  matrix:
  - TOXENV=checkqa
  - TOXENV=base-py27-django18-sqlite
  - TOXENV=base-py27-django19-sqlite
  - TOXENV=base-py27-django110-sqlite
  - TOXENV=base-pypy-django18-sqlite
  - TOXENV=base-pypy-django19-sqlite
  - TOXENV=base-pypy-django110-sqlite
  - TOXENV=base-py34-django18-sqlite
  - TOXENV=base-py34-django19-sqlite
  - TOXENV=base-py34-django110-sqlite
install:
- travis_retry pip install -U pip
- travis_retry pip install tox
- travis_retry pip freeze
before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
- if echo "$TOXENV" | grep mysql; then mysql -e 'create database autocomplete_light_test;';
  fi
- if echo "$TOXENV" | grep postgresql; then psql -c 'create database autocomplete_light_test;'
  -U postgres; fi
script:
- travis_retry tox
- test -d .tox/$TOXENV/log && cat .tox/$TOXENV/log/*.log || true
after_success:
- travis_retry pip install codecov
- cd test_project && codecov
notifications:
  irc:
    channels:
    - irc.freenode.org#yourlabs
    template:
    - "%{repository} (%{commit} %{author}) : %{message} %{build_url} %{compare_url}"
cache:
  directories:
  - .tox/$TOXENV
  - $HOME/.cache/pip
deploy:
  provider: openshift
  user: jpic@yourlabs.org
  password:
    secure: FuIzy9CJ1+SSsLFVXj942Y4DYzv2NLAktHML+VB3IBR+JdJ4cTW7lftwUmmghXE4HmBoHbKsDlpwN/dErPy0yDl2bv3ejJWRWyekIOyu0Omwia0PDTEt6n/mryrQ92dAyjpD6SeypotHqhOCnj1HxJdgwL4EmzG+5o9n8eNte0M=
  app: dal
  domain: yourlabs
  deployment_branch: master
  skip_cleanup: true
  on:
    repo: yourlabs/django-autocomplete-light
    branch: master
