language: python
python:
  - "2.7"
env:
  - DJANGO=1.4.2
  - DJANGO=1.5.4
  - DJANGO=1.6
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - pip install pep8 --use-mirrors
  - pip install https://github.com/dcramer/pyflakes/tarball/master
  - pip install -r test_project/requirements.txt
  - pip install -q -e . --use-mirrors
before_script:
  - "pep8 --exclude=tests,migrations --ignore=E124,E128 autocomplete_light"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - python setup.py test
notifications:
  irc: 
    channels: 
      - "irc.freenode.org#neoskills"
      - "irc.freenode.org#yourlabs"
    template:
      - "%{repository} (%{commit} %{author}) : %{message} %{build_url} %{compare_url}"
