include *.rst *.txt README LICENSE AUTHORS CHANGELOG
recursive-include src *.html *.css *.js *.py *.po *.mo *.json *.png *.gif *.otf *.eot *.svg *.ttf *.woff
prune src/dal_select2/static/autocomplete_light/vendor/select2/docs
prune src/dal_select2/static/autocomplete_light/vendor/select2/node_modules
