[project]
	description = A fresh approach to autocomplete implementations, specially for Django. It supports templated autocompletes, foreign key, many to many, generic foreign key, generic many to many, autocompletes that depend on each other, etc, etc ... Status: 2.x.x stable, 1.x.x deprecated.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Pic (jpic)
[access "refs/for/refs/*"]
	read = group user/James Pic (jpic)
	push = group user/James Pic (jpic)
	label-Code-Review = -2..+2 group user/James Pic (jpic)
	label-Verified = -1..+1 group user/James Pic (jpic)
	rebase = group user/James Pic (jpic)
	removeReviewer = group user/James Pic (jpic)
	submit = group user/James Pic (jpic)
[access "refs/heads/*"]
	read = group user/James Pic (jpic)
	create = group user/James Pic (jpic)
	push = +force group user/James Pic (jpic)
	pushMerge = group user/James Pic (jpic)
[access "refs/tags/*"]
	push = +force group user/James Pic (jpic)
	pushTag = group user/James Pic (jpic)
	pushSignedTag = group user/James Pic (jpic)
