{% load static %}
<html>
    <body>
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">tags</th>
                        <th scope="col">parent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formset_form in form.forms %}
                    <tr id="{{ formset_form.prefix }}-row">
                        <td>{{ formset_form.name }}</td>
                        <td>{{ formset_form.id }}{{ formset_form.tags }}</td>
                        <td>{{ formset_form.parent }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ form.management_form }}

            <input type="submit" />
        </form>

        <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'inlines_outside_admin/jquery.formset.min.js' %}"></script>
        {% include 'autocomplete_light/static.html' %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('form tr').formset({
                    prefix: '{{ form.prefix }}',
                });
            });
        </script>
    </body>
</html>
