coverage
django-extensions
django-generic-m2m
django-gm2m
django-querysetsequence
django-taggit
django-tagging
mock
selenium
pytest
splinter
pytest-django
pytest-cov
pytest-splinter
tenacity
whitenoise
django-nested-admin>=3.0.21
django-debug-toolbar
