{% extends "base.html" %}

{% block title %}
    Welcome to django-autocomplete-light test_project
{% endblock %}

{% block content %}
    Please choose demo to visit:
    <ul>
        <li>
            <a href="/admin">admin demos</a> - please log in as test/test
        </li>
        <li>
            <a href="/autocomplete">autocomplete</a> - see all registered
            autocompletes - URLs that produce data for the autocomplete light
            widget
        </li>
        <li>
            <a href="/non_admin_add_another/widget/add">
                non-admin add another item
            </a> - shows how add another works outside of the admin
        </li>
        <li>
            <a href="/bootstrap_modal/">inside bootstrap modal</a> -
        </li>
    </ul>
{% endblock %}
