{% extends "base.html" %}

{% block title %}
    Welcome to django-autocomplete-light test_project
{% endblock %}

{% block content %}
    Please choose demo to visit:
    <ul>
        <li>
            <a href="/admin">admin demos</a> - please log in as test/test
        </li>
        <li>
            <a href="/non_admin/">non-admin</a> - how to use autocomplete-light
            outside admin
        </li>
        <li>
            <a href="/non_admin_add_another/widget/add">
                non-admin add another item
            </a> - shows how add another works outside of the admin
        </li>
        <li>
            <a href="/autocomplete">autocomplete</a> - see all registered
            autocompletes - URLs that produce data for the autocomplete light
            widget
        </li>
        <li>
            <a href="/hvad_autocomplete/item/add/">hvad autocomplete</a> -
            demonstrates how to use translated autocompletes with
            <a href="https://github.com/kristianoellegaard/django-hvad"
               target="_blank">django-hvad</a>
        <li>
            <a href="/inlines_outside_admin/">inlines outside admin</a> - how to
            use
            inlines outside admin
        </li>
        <li>
            <a href="/just_javascript/">just javascript</a> - how to create
            a fully-working autocomplete just by javascript at client-side;
        </li>
    </ul>
{% endblock %}
