{% extends "base.html" %}

{% block title %}
    just_javascript demo - {{ block.super }}
{% endblock %}

{% block extrahead %}
    <script src="{{ STATIC_URL }}jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block branding %}
    <a href="/" style="float: right;">go back</a>
    <h1>just_javascript demo</h1>
{% endblock %}

{% block content %}
    <style>
        .autocomplete-light-widget .deck [data-value] {
            margin-bottom: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
        }
    </style>
    <p>
        This simple demo shows, how to create a fully working autocomplete-light
        widget just by JavaScript, at client side.
    <p/>
    <b>Please note</b>, that at server-side, this demo uses objects called
    <a target="_blank" href="/admin/admin_test_autocomplete/bar/">Bar</a> from
    <a target="_blank" href="/admin/admin_test_autocomplete/">Admin Test
        Autocomplete</a> demo, running in the Django Admin interface of this
    humble application. So, if the pop-down list of the autocomplete objects
    is empty, please
    <a target="_blank" href="/admin/admin_test_autocomplete/bar/add/">
        click here</a> to add more objects to the database.
    </p>
    <p>
        The idea is <a target="_blank"
                       href="http://django-autocomplete-light.readthedocs.org/en/latest/tutorial.html#javascript-api-concepts">
        described in the documentation</a>.
    </p>
    <p>
        <b>Here's our input text field</b>, created in the simplest possible way:
        <input id="yourInput"></input> As you can see, it is really simple. It
        allows the user to choose values from a dropdown box. But what if the
        user types something, that is not in the autocomplete field? This value
        will be sent to server. Is it what you really want? Maybe not. Anyway,
        having such simple field should give you a possibility to extend it
        whenever you need it.
    </p>
    <p>
        <b>There is another option</b>: to create widget using a pre-defined template.
        Such widget must have an expected structure in HTML. You can see such widget
        here:

        <span style="display: inline-block; clear: both;"
              class="autocomplete-light-widget"
              data-bootstrap="normal"
              data-autocomplete-choice-selector="[data-value]"
              data-max-values="1"
              data-minimum-characters="0"
              data-autocomplete-url="/autocomplete/BarAutocomplete/">

            <!-- Expected structure: have an input -->
            <input type="text" id="yourInput2" />

            <!--
            Default expected structure: have a .deck element to append selected
            choices too:
            -->
            <span class="deck">
                <!-- Suppose a choice was already selected: -->
                <span class="choice" data-value="default">Default option</span>
            </span>

            <!--
            Default expected structue: have a multiple select.value-select:
            -->
            <select style="display:none" class="value-select" name="yourInput2-value">
                <!-- If option 1234 was already selected: -->
                <option value="default">Default option</option>
            </select>

            <!--
            Default expected structure: a .remove element that will be appended to
            choices, and that will de-select them on click:
            -->
            <span style="display:none" class="remove">Remove this choice</span>

            <!--
            Finally, supporting new options to be created directly in the select in
            javascript (ie. add another) is possible with a .choice-template. Of
            course, you can't take this very far, since all you have is the new
            option's value and html.
            -->
            <span style="display:none" class="choice-template">
                <span class="choice">
                </span>
            </span>
        </span>

        &nbsp;&nbsp;Click the grey "X" button to remove it's default value and to
        reveal the text input field.
        As you can see, this widget takes care of many problems, at the cost
        of more complicated structure (see source).
    </p>

    <script type="text/javascript">
        $(document).ready(function () {

            /* This is the initialization of the first widget - the simple text
            input. We basically have to handle everything by ourselves: */

            $('#yourInput').yourlabsAutocomplete({
                url: '/autocomplete/BarAutocomplete/',
                choiceSelector: '[data-value]'
            }).input.bind('selectChoice', function (event, choice, autocomplete) {
                var value = choice.text();
                this.value = value;
                alert("You have choosen: " + value);
            });

            /* The second widget is automatically created by autocomplete,
            so we just bind an event to it. It is much higher-level, than the
            previous input field - we have got almost everything taken care of
            */

            $("#yourInput2").change(function(evt){

                var widget = $(this).parents('.autocomplete-light-widget'
                ).yourlabsWidget();

                alert('Second widget! Choosen: ' + widget.select.val());
            });

        });
    </script>


{% endblock %}
