furo
django
-r ../test_project/requirements.txt
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.33.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.7.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
