{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {% trans 'django-autocomplete-light demo site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'django-autocomplete-light demo administration' %}</h1>

    {% comment %}
    This is a simple input, used for global navigation autocomplete. It
    serves as an example, refer to the documentation to make a navigation
    autocomplete.

    FYI It lives in
    autocomplete_light/tests/apps/navigation_autocomplete/templates
    {% endcomment %}
    {% if user.is_authenticated %}
        {% include 'navigation_autocomplete/input.html' %}
    {% endif %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    {% include 'autocomplete_light/static.html' %}
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if user.is_authenticated %}
        {# This script enables global navigation autocomplete #}
        {# refer to the docs about global navigation autocomplete for more information #}
        {% include 'navigation_autocomplete/script.html' %}


        {# this is for create_choice_on_the_fly example #}
        <script type="text/javascript" src="{% static 'create_choice_on_the_fly/fly_widget.js' %}"></script>
    {% endif %}
{% endblock %}
