{% extends "admin/base.html" %}
{% load i18n %}
{% load autocomplete_light_tags %}

{% block footer %}
    {{ block.super }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
    {% autocomplete_light_static %}
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
